@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT:regular,italic,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);




.container {
    max-width: 1204px;
    display: flex;
    margin: 0 auto;
}

body {
    background-color: $backg;
    overflow-x: hidden;
}

//Кнопка
.btn {
    font-size: $font-size-md;
    color: $cream;
    background-color: $red;
    padding: 15px;
    border-radius: 15px;
    font-family: $font-nun;
    text-transform: uppercase;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid white;
        border-radius: 15px;
        transform: translate(-9px, 11px);
        z-index: -1;
    }
}


//Заголовки
.title {
    font-family: $font-old;
    color: $red;
    display: flex;
    justify-content: center;
    font-size: $font-size-xxl;
    font-weight: 700;
    margin-top: 82px;
    text-transform: uppercase;
}

.title-vertical {
    font-family: $font-old;
    color: $red;
    font-size: $font-size-xxl;
    font-weight: 700;
    transform: rotate(-90deg);
    white-space: nowrap;
    margin: 0;
    margin-top: 300px; 
    flex-shrink: 0;
}
