.container-about {
    display: flex;
    justify-content: space-between;
    max-width: 1204px;
    margin: 0 auto;
    padding: 0px 20px;
}

.section-stat {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;

}

.section-stat::after {
    content: '';
    position: absolute;
    right: -70px;
    top: 0px;
    bottom: 0px;
    width: 2px;
    background: linear-gradient(to bottom,
            #008C45 0%, #008C45 33%,
            #F4F5F0 33%, #F4F5F0 66%,
            #CD212A 66%, #CD212A 100%);
}

.stat-number {
    font-size: $font-size-lg;
    font-weight: 200;
    margin-bottom: 5px;
    font-family: $font-old;
}

.stat-text {
    font-size: $font-size-sm;
    line-height: 1.4;
    font-weight: 300;
    font-style: italic;
}

.section-aboutus {
    flex: 1;
    max-width: 850px;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    gap: 38px;
}

.about-description {
    font-size: $font-size-lg;
    font-weight: 200;
    line-height: 1.2;
}

.section-about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.info-adress {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    margin: 0;
}

.working-hours {
    font-size: $font-size-lg;
}

.address {
    font-style: italic;
    font-size: $font-size-sm;
}