.header__container {
    display: flex;
    flex-direction: column;
    padding: 50px 0px;
    margin-top: 20px;
    position: relative;
    padding-bottom: 100px;

}

.header__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;

}

.text__content {
    flex: 1;
    max-width: 773px;
    margin-bottom: 0;

    h3 {
        font-size: $font-size-xxl;
        font-family: $font-old;
        text-transform: uppercase;
        font-weight: 700;
    }

    p {
        font-size: $font-size-lg;
        line-height: 1.6;
        margin-top: 27px;
        margin-bottom: 61px;
        font-weight: 200;
        max-width: 650px;
    }

    .accent-text {
        color: $red;
    }
}

.header__container-image {
    position: absolute;
    right: -200px;
    top: 25%;
    transform: translateY(-50%);
    z-index: -1;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rot {
    animation: spin 15s linear 0s infinite;
}


.header-logo {
    text-align: center;
    margin-bottom: 30px;
}