$font-old: 'Old Standard TT',
'Georgia',
serif;
$font-nun: 'Nunito',
'Arial',
sans-serif;

$beige: #D9BDA8;
$cream: #FBFBFB;
$red: #F03B20;
$black: #000000;
$backg: #EBE0CE;


// Увеличенный шаг между размерами
$font-size-xxl: clamp(2rem, 1.25rem + 1.8vw, 2.75rem); // 32px - 44px
$font-size-xl: clamp(1.5rem, 0.9375rem + 1.4vw, 2.125rem); // 24px - 34px
$font-size-lg: clamp(1rem, 0.5625rem + 1.1vw, 1.5rem); // 16px - 24px
$font-size-md: clamp(0.875rem, 0.5rem + 0.9vw, 1.25rem); // 14px - 20px
$font-size-sm: clamp(0.75rem, 0.4375rem + 0.7vw, 1.125rem); // 12px - 18px