@import 'variables';
@import 'reset';
@import 'base';
@import 'header';
@import 'reviews';
@import 'section-header';
@import 'run-stroke';
@import 'section-about';
@import 'menu';
@import 'gallery';
@import 'footer';